<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- custom title begin -->
    {% block title %}{% endblock %}
    <!-- custom title end -->
    <!-- Material Design Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- App CSS (includes Bootstrap & Bootstrap Layout) -->
    <link type="text/css" href="/static/css/app.min.css" rel="stylesheet">
    <script src="/static/js/echarts.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>
</head>

<body class="layout-container ls-top layout-sidebar-l3-md-up">
    <div class="layout-content" data-scrollable>
        <!-- Sidebar toggle -->
        <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="sidebar" data-target="#sidebar"><span class="material-icons">menu</span></button>
        <div class="container-fluid">
                <!-- custom body begin -->
                {% block body %}{% endblock %}
                <!-- custom body end -->
        </div>
    </div>
    <!-- Sidebar -->
    <div class="sidebar sidebar-left sidebar-visible-md-up sidebar-size-3 sidebar-dark bg-primary" id="sidebar" data-scrollable>
        <!-- Brand -->
        <a href="#" class="sidebar-brand sidebar-brand-bg sidebar-brand-border">XXX-Chart</a>
        <ul class="sidebar-menu sm-active-button-bg">
            <li class="sidebar-menu-item open">
                <a href="index.html#" class="sidebar-menu-button" data-toggle="sidebar-collapse">File Tree</a>
                <ul class="sidebar-submenu sm-condensed">
                    {% for file in file_list %}
                        {% if file == file_name_no_postfix %}
                        <li class="sidebar-menu-item active">
                            <a href="/csv/{{ file }}.csv" class="sidebar-menu-button">{{ file }}</a>
                        </li>

                        {% else %}
                        <li class="sidebar-menu-item">
                            <a href="/csv/{{ file }}.csv" class="sidebar-menu-button">{{ file }}</a>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
    <!-- // END Sidebar -->
    <!-- App JS (includes vendor assets) -->
    <script src="/static/js/app.browserify.min.js"></script>
</body>

</html>
