<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- custom title begin -->
    {% block title %}{% endblock %}
    <!-- custom title end -->
    <!-- Material Design Icons -->
{#    <link href="/static/css/material.css" rel="stylesheet">#}
    <!-- App CSS (includes Bootstrap & Bootstrap Layout) -->
{#    <link type="text/css" href="/static/css/app.min.css" rel="stylesheet">#}
    <!-- Echarts Library -->
    <script src="/static/js/echarts.min.js"></script>
    <!-- Jquery -->
    <script src="/static/js/jquery.min.js"></script>
</head>

<body>
    <!-- custom body begin -->
    {% block body %}{% endblock %}
    <!-- custom body end -->
</body>

</html>

