{% extends 'base.html' %}
{% block title %}<title>{{ file_name_no_postfix }}</title>{% endblock %}
{% block body %}
<div id="chart" style="width: 900px;height:600px;"></div>
<script>
    var myChart = echarts.init(document.getElementById('chart'));

    var df_json = JSON.parse('{{ df_json|escapejs }}');
    var data0 = splitData(df_json);

    function splitData(rawData) {
        var categoryData = [];
        var values = [];
        for (var i = 0; i < rawData.length; i++) {
            categoryData.push(rawData[i].splice(0, 1)[0]);
            values.push(rawData[i][0]);
        }
        return {
            categoryData: categoryData,
            values: values,
            data_length: rawData.length
        };
    }


    myChart.on('dblclick', function (params) {
         myChart.setOption({
             dataZoom: [
                    {
                        type: 'inside',
                        startValue: data0.data_length - 250,
                        endValue: data0.data_length,
                        throttle: 1
                    },
                 ]
        })
    });

    myChart.setOption({
        title: {
            text: '{{ file_name_no_postfix }}',
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'line'
            }
        },
        grid: {
            left: '10%',
            right: '10%',
            bottom: '15%'
        },
        xAxis: {
            type: 'category',
            data: data0.categoryData,
            scale: true,
            boundaryGap : false,
            axisLine: {onZero: false},
            splitLine: {show: false},
            splitNumber: 20,
            min: 'dataMin',
            max: 'dataMax'
        },
        yAxis: {
            scale: true,
            splitArea: {
                show: true
            }
        },
        dataZoom: [
            {
                type: 'inside',
                startValue: data0.data_length - 250,
                endValue: data0.data_length
            },
            {
                show: true,
                type: 'slider',
                y: '90%',
            }
        ],
        series: [
            {
                name: 'Line',
                type: 'line',
                color:'black',
                data: data0.values,
            }
        ]
    });

</script>

{% endblock %}
