{% extends 'base.html' %}
{% block title %}<title>{{ file_name_no_postfix }}</title>{% endblock %}
{% block body %}
<div class="card card-block" id="content">
    <div id="main"></div>
</div>

<script>

    //数据意义：开盘(open)，收盘(close)，最低(lowest)，最高(highest)
    ChartContainer1 = document.getElementById('main');

    //用于使chart自适应高度和宽度,通过窗体高宽计算容器高宽
    //H(p0:p1:p2) = 2:1:1
    var resizeChartContainer = function () {
        ChartContainer1.style.width = $("#content").innerWidth()+'px';
        ChartContainer1.style.height = window.innerHeight - 200  +'px';
    };

    // 初始化容器大小
    resizeChartContainer();

    //获取Django传来的dates_json(日期),供X轴使用;
    var dates = JSON.parse('{{ dates_json|escapejs }}');

    var ohcl = JSON.parse('{{ ohlc_json|escapejs }}');

    var p0 = JSON.parse('{{ p0_json|escapejs }}');

    var p0_keys = Object.keys(p0);

    var p0_seriesList = [];

    var p0_yAxisList =[];

    var p0_y1 = JSON.parse('{{ p0_y1_json|escapejs }}');

    var p0_y1_keys = Object.keys(p0_y1);

    var p0_legendList = [];

    //data_length为数据总长度,供计算停留的数据位置
    var date_length = dates.length;

    option = {
        title: {
            text: '{{ file_name_no_postfix }}',
            x:'center',
            y:'top',
            textAlign:'center'
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'line'
            }
        },
        legend: {
            data:p0_legendList,
            orient:'horizontal',
            borderColor:'#000000',
            borderWidth:1,
            top: '5%',
            right: '10%',
        },
        grid: {
            top: '10%',
            left: '10%',
            right: '10%',
            bottom: '15%'
        },
        xAxis: {
            type: 'category',
            data: dates,
            scale: true,
            boundaryGap : false,
            axisLine: {onZero: false},
            // 隐藏x轴
            axisLabel:{show:true},
            splitLine: {show: true},
            splitNumber: 20,
            min: 'dataMin',
            max: 'dataMax'
        },
        yAxis: {

        },
        dataZoom: [
            {
                type: 'inside',
                start: 75,
                end: 100
            },
            {
                show: true,
                type: 'slider',
                y: '90%',
            }
        ],
    }

    // 初始化Chart
    var myChart = echarts.init(ChartContainer1);

    // 读入蜡烛图
    if(ohcl) {
        p0_seriesList.push({
            name: 'OHLC',
            type: 'candlestick',
            data: ohcl
        });
        p0_legendList.push('OHLC');
    }

    // 默认左边Y轴
    p0_yAxisList.push({
        scale: true,
        splitArea: {
            show: true
        }
    });

    // 遍历p0_others
    for(var i = 0; i < p0_keys.length; i ++) {
        // 第一个line为黑色
        if(i == 0) {
            p0_seriesList.push({
                name:p0_keys[i],
                type:'line',
                itemStyle: {
                    normal: {
                        color: '#000000',
                        lineStyle: {
                            color: '#000000'
                        }
                    }
                },
                data: JSON.parse(p0[p0_keys[i]]),
                smooth:true
            });
            p0_legendList.push(p0_keys[i]);
        }
        else{
            p0_seriesList.push({
                name:p0_keys[i],
                type:'line',
                data: JSON.parse(p0[p0_keys[i]]),
                smooth:true
            });
            p0_legendList.push(p0_keys[i]);
        }
    }

    for(var i = 0; i < p0_y1_keys.length; i ++) {
        // 若双Y轴，则添加入List
        p0_yAxisList.push({
            scale: true,
            splitArea: {
                show: true
            }
        });
        p0_seriesList.push({
            name: p0_y1_keys[i],
            type: 'line',
            yAxisIndex: i + 1,
            data: JSON.parse(p0_y1[p0_y1_keys[i]]),
        });
        p0_legendList.push(p0_y1_keys[i]);
    }

    myChart.setOption(option);
    // 动态更新series
    myChart.setOption({series: p0_seriesList, yAxis: p0_yAxisList});

    // 监听窗口，调节Chart Size
    window.onresize = function () {
        resizeChartContainer();
        myChart.resize();
    };

</script>

{% endblock %}