<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
	<title>Chart - Welcome</title>
</head>

<body>
	<h1>DjangoChart - V1.1</h1>
	<p>
		DjangoChart bases on Django, Pandas, <a target="_blank" href="http://echarts.baidu.com">Echarts</a> and <a target="_blank" href="https://github.com/mar10/fancytree">Fancytree</a>,and provides customizable data visualization charts.
	</p>
	<p>
		<h3>v1.1 (30 May 2017)</h3>
		<ul>
		<li>Add document trees of memory state in the sidebar</li>
		<li>Add legend, multi-panels</li>
		<li>Improve robustness in django</li>
		<li>change UI to fit the document trees</li>
		<li>set black as the default color of the first line in the chart</li>
		</ul>
	</p>

	<p>
		<h3>Some Tricks</h3>
		<ul>
		<li>Press ctrl and click the file in the sidebar, if you want to view a specified chart in other tab</li>
		<li>Now, you can open any files as chart in your disks, just specify the path. <i>http://your-host/show/?path=xxxx</i></li>
		</ul>
	</p>	

</body>
</html>
